{% extends 'core/base.html' %}
{% load static %}

{% block title %}

{% endblock title %}

{% block menu %}
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-dark navbar-without-dd-arrow navbar-shadow" role="navigation" data-menu="menu-wrapper">
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                 <li class="nav-item"><a class="nav-link" href="#" ><i class="ft-search"></i><span>Search File</span></a>
                </li>
                <li class="nav-item" ><a class="nav-link" href="{% url 'auth:login' %}"><i class="ft-log-in"></i><span>Login</span></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock menu %}

{% block content %}
        <div class="content-wrapper">
            <div class="content-wrapper-before"></div>
            <div class="content-header row">
                <div class="content-header-left col-md-4 col-12 mb-2">
                    <h3 class="content-header-title">File Search</h3>
                </div>
                <div class="content-header-right col-md-8 col-12">
                    <div class="breadcrumbs-top float-md-right">
                        <div class="breadcrumb-wrapper mr-1">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#}">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="#">File Search</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-body">
                 <!-- Full calendar advance example section start -->
              <section class="helpers" id="form-helpers">
                    <div class="row">
                        <div class="col-12 mt-3 mb-1">
                           
                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="col-lg-6 col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">Enter File Tracking id</h4>
                                </div>
                                <div class="card-block">
                                    <div class="card-body">
                                        <form method="post">
                                            {% csrf_token %}
                                        <fieldset class="form-group">
                                            <input type="text" class="form-control" id="helpInput3" name="query" placeholder="File Name">
                                            <input type="submit" class="btn btn-outline-dark btn-min-width mr-1 mb-1 my-2">Search</input>
                                        </fieldset>
                                        <form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              {% if history %}
                  <div class="row match-height">
                        <div class="col-lg-8 col-md-8">
                            <div class="card">
                                <div class="card-header">
                                    <h4 class="card-title">File History:</h4>
                                </div>
                                <div class="card-block">
                                    <div class="card-body">
                                        <table class="table table-responsive">
                                        <thead>
                                            <tr>
                                                <th> File </th>
                                                <th> Assigned To </th>
                                                <th> Assigned At </th>
                                                <th> Has File Now? </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for history in history %}
                                            <tr>
                                                <td>{{ history.file }}</td>
                                                <td>{{ history.assigned_to }}</td>
                                                <td>{{ history.created_at }}</td>
                                                <td>{{ history.is_active }}</td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
              {% endif %}
                </section>
                <!-- Helper Classes end -->
                <!-- // Full calendar advance example section end -->
            </div>
        </div>
    


{% endblock content %}
